registry=https://pkgs.dev.azure.com/freddelacomptaops/_packaging/npm-dependencies/npm/registry/ 
                        
always-auth=true

; begin auth token
//pkgs.dev.azure.com/freddelacomptaops/_packaging/npm-dependencies/npm/registry/:username=freddelacomptaops
//pkgs.dev.azure.com/freddelacomptaops/_packaging/npm-dependencies/npm/registry/:_password=ZHF2ZDJ3YmxxejRydDNhczZmcGJ6Mm1wb25qbDJoNzR3NXlhb2xrc3RjbXVta2gzbnlscQ==
//pkgs.dev.azure.com/freddelacomptaops/_packaging/npm-dependencies/npm/registry/:email=npm requires email to be set but doesn't use the value
//pkgs.dev.azure.com/freddelacomptaops/_packaging/npm-dependencies/npm/:username=freddelacomptaops
//pkgs.dev.azure.com/freddelacomptaops/_packaging/npm-dependencies/npm/:_password=ZHF2ZDJ3YmxxejRydDNhczZmcGJ6Mm1wb25qbDJoNzR3NXlhb2xrc3RjbXVta2gzbnlscQ==
//pkgs.dev.azure.com/freddelacomptaops/_packaging/npm-dependencies/npm/:email=npm requires email to be set but doesn't use the value
; end auth token